.header {
  font-family: brandon-grotesque, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgba(26, 192, 232, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .header__block {
    display: flex;
    align-items: center;
    padding: 27px 0; }
    .header__block a {
      display: block;
      margin-right: 48px;
      color: #FFF;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      letter-spacing: 1.2px; }
      .header__block a:last-child {
        margin-right: 0px; }
  .header__btn {
    padding: 10px 20px;
    border: solid 1px #FFF;
    border-radius: 3px; }

@media screen and (max-width: 480px) {
  .header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(26, 192, 232, 0.8); }
    .header__block {
      display: none; } }

.keyvisual {
  font-family: brandon-grotesque, sans-serif;
  padding: 120px 0 180px;
  background-color: rgba(26, 192, 232, 0.8); }
  .keyvisual__title {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-align: center; }
  .keyvisual__desc {
    margin-bottom: 80px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-align: center; }
  .keyvisual__scrollBtn {
    position: absolute;
    left: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.88);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
    .keyvisual__scrollBtn::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      content: '';
      opacity: 0;
      border-radius: 30px;
      background: #fff; }
    .keyvisual__scrollBtn::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      content: '';
      background-image: url("../img/icon_scrollBtn.svg");
      background-size: 100%; }

@media screen and (max-width: 480px) {
  .keyvisual {
    padding: 217px 20px 180px; }
    .keyvisual__title {
      font-size: 24px; }
    .keyvisual__desc {
      font-size: 12px; } }

.section {
  padding: 60px 0;
  background-color: #f3f7f8; }
  .section__title {
    position: relative;
    margin-bottom: 39px;
    color: #37c4de;
    font-size: 16px;
    text-align: center; }
    .section__title::before {
      position: absolute;
      bottom: -35%;
      width: 6px;
      height: 6px;
      margin-left: 5px;
      content: '';
      border-radius: 3px;
      background-color: #37c4de; }
    .section__title::after {
      position: absolute;
      bottom: -35%;
      width: 6px;
      height: 6px;
      margin-left: -10px;
      content: '';
      border-radius: 3px;
      background-color: #37c4de; }
  .section__heading {
    margin-bottom: 39px;
    color: #37c4de;
    font-size: 29px;
    text-align: center; }
  .section__desc {
    margin-bottom: 62px;
    font-size: 15px;
    text-align: center; }
  .section__btnWrapper {
    text-align: center; }
  .section__btn {
    display: inline-block;
    padding: 10px 45px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    background-color: #30b6cf;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12); }

@media screen and (max-width: 480px) {
  .section {
    display: flex;
    flex-direction: column;
    padding: 60px 20px; }
    .section__title {
      padding-bottom: 24px;
      font-size: 16px; }
    .section__heading {
      font-size: 22px; }
    .section__desc {
      width: 100%;
      margin-bottom: 30px; }
      .section__desc br {
        display: none; } }

.service {
  display: flex;
  align-items: center;
  margin: 0 auto 46px;
  width: 1100px; }

@media screen and (max-width: 480px) {
  .service {
    display: flex;
    flex-direction: column;
    width: 100%; } }

.serviceItem {
  width: 295px;
  text-align: center; }
  .serviceItem img {
    width: 160px;
    height: 160px;
    margin-bottom: 27px;
    text-align: center; }
  .serviceItem__title {
    margin-bottom: 14px;
    font-size: 21px; }
  .serviceItem__text {
    color: #a1abae;
    font-size: 13px; }

@media screen and (max-width: 480px) {
  .serviceItem {
    width: 100%;
    padding-top: 9.05%; } }

.works {
  padding-top: 60px; }
  .works__block {
    display: flex;
    align-items: center;
    justify-content: center; }

@media screen and (max-width: 480px) {
  .works__block {
    display: flex;
    flex-direction: column; } }

.worksItem {
  display: block;
  text-decoration: none; }
  .worksItem img {
    display: block;
    width: 100%; }
  .worksItem__block {
    padding: 10px;
    text-align: center; }
  .worksItem__desc {
    margin-bottom: 8px;
    color: #000;
    font-size: 14px; }
  .worksItem__title {
    margin-bottom: 8px;
    color: #000;
    font-size: 22px; }
  .worksItem__category {
    margin-bottom: 8px;
    color: #727f89;
    font-size: 12px; }

@media screen and (max-width: 480px) {
  .worksItem__block {
    padding: 15px 5%; } }

.clients {
  padding: 60px 0; }
  .clients__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: 0 auto 81px; }
    .clients__block li {
      width: 25%;
      max-height: 50px;
      list-style: none; }
      .clients__block li img {
        width: 100%; }

@media screen and (max-width: 480px) {
  .clients {
    padding: 50px 20px 60px; }
    .clients__block {
      width: 100%;
      margin-bottom: 46px; }
      .clients__block li {
        width: 50%;
        margin-top: 40px; } }

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto; }
  .news a {
    display: block;
    color: #333;
    font-size: 14px;
    text-decoration: none; }
    .news a time {
      margin-right: 30px;
      color: #8b959b; }

@media screen and (max-width: 480px) {
  .news {
    width: 100%; }
    .news a {
      position: relative;
      display: block;
      padding-left: 106px;
      font-size: 14px;
      line-height: 1.6em;
      text-decoration: none; }
      .news a time {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin-right: 30px;
        color: #8b959b; }
      .news a:not(:last-child) {
        margin: 34px 0; } }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: url("../img/contact2.png") no-repeat center;
  background-size: cover; }

@media screen and (max-width: 480px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px 20px; } }

.contactItem {
  width: 500px;
  text-align: center; }
  .contactItem__category {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 16px; }
  .contactItem__title {
    margin-bottom: 35px;
    color: #FFF;
    font-size: 22px;
    font-weight: bold; }
  .contactItem__btn {
    display: block;
    width: 240px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: solid 2px #fff;
    border-radius: 100px; }

@media screen and (max-width: 480px) {
  .contactItem {
    width: 100%;
    margin-bottom: 50px;
    text-align: center; }
    .contactItem__title {
      font-size: 18px;
      line-height: 1.8; }
    .contactItem__btn {
      width: 100%;
      padding: 20px 0;
      font-size: 16px; } }

.footer {
  font-family: brandon-grotesque, sans-serif;
  position: relative;
  border-bottom: 1px solid #ebf0f1; }
  .footer__scrollBtn {
    position: absolute;
    z-index: 800;
    top: -30px;
    right: 60px; }
    .footer__scrollBtn a {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: rgba(74, 201, 225, 0.9);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
      .footer__scrollBtn a::before {
        position: relative;
        display: block;
        top: 26px;
        right: -22px;
        width: 16px;
        height: 16px;
        content: '';
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-top: 2px solid #fff;
        border-right: 2px solid #fff; }
  .footer__lineWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto; }
  .footer__block {
    display: flex;
    padding: 50px 0; }
    .footer__block a {
      display: block;
      margin-right: 30px;
      color: #8c9597;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 1.8px; }
      .footer__block a:last-child {
        margin-right: none; }

@media screen and (max-width: 480px) {
  .footer__scrollBtn {
    position: absolute;
    right: 20px; }
  .footer__lineWrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .footer__block:last-child {
    display: flex;
    justify-content: center; }
  .footer__block:not(:last-child) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0 0; }
  .footer__block a {
    font-size: 12px; }
    .footer__block a:not(:last-child) {
      margin-bottom: 20px;
      margin-right: 0; } }

.privacyPolicy {
  font-family: brandon-grotesque, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 34px 20px 54px;
  color: #8c9597;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.2px; }
  .privacyPolicy a {
    color: #8c9597;
    text-decoration: none; }

@media screen and (max-width: 480px) {
  .privacyPolicy {
    max-width: 375px;
    padding: 34px 10px 54px;
    font-size: 11px; } }
